/* Geral*/
html{
    font-family: 'Open sans', 'sans-serif';
    color: #373a3c;
}

a{
    transition: .5s;
}

/* Sidebar */
#sidebar{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #006599;
    padding-top: 40px;
}

#sidebar h1{
    color: #fff;
    font-size: 32px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#sidebar a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
} 

#sidebar a:hover{
    color: #f4ef5e;
}

#sidebar li{
    padding: 20px;
}

.sidebar-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.logo-doceria{
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
} 

/* Conteúdo */
.content{
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

.content h1, .content h2{
    color: #006599;
    margin-bottom: 30px;
}

.content h1{
    font-size: 48px;
}

.content h2{
    font-size: 35px;
}

section{
    padding-left: 50px;
}

/* 1º Sessão - Bem-vindo */
#sessao-bemvindo{
    padding-left: 0;
}

.sessao-bemvindo-content{
    padding-left: 50px;
}

#sessao-bemvindo .banner{
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

#sessao-bemvindo h1{
    padding-top: 70px;
}

#sessao-bemvindo::after, #sessao-sobre::after{
    content: '';
    display: block;
    clear: both;
    margin-bottom: 100px;
}

.sessao-minibanner {
    width: 300px;
    height: 400px;
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    background-position: center;
    float: left;
}

.sessao-descricao{
    position: absolute;
    left: 370px;
    padding-right: 30px;
}

.sessao-descricao p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
    margin-left: 25px;
}

.sessao-bemvindo-btn, form input[type=submit]{
    background-color: #006599;
    padding: 20px 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    margin-left: 25px;
}

.sessao-bemvindo-btn:hover, form input[type=submit]:hover{
    background-color: #2790c6;
}

